boto3==1.9.131
botocore==1.12.131
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
ecdsa==0.13.3
envs==1.3
future==0.17.1
idna==2.8
jmespath==0.9.4
pyasn1==0.4.5
python-dateutil==2.8.0
python-jose==3.0.1
requests==2.21.0
rsa==4.7
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.2
warrant-lite==1.0.3
